{% extends 'front/user/base.html.twig' %}

{% block content %}
    <div class="dashboard-widg-bar d-block">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 mx-auto">
                <div class="mb-4 tbl-lg rounded overflow-hidden">
                    <div class="table-responsive bg-white">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">{{ 'ui.title'|trans }}</th>
                                {# <th scope="col">Filled</th> #}
                                <th scope="col">{{ 'ui.posted_date'|trans }}</th>
                                <th scope="col">{{ 'ui.expired'|trans }}</th>
                                <th scope="col">{{ 'ui.applications'|trans }}</th>
                                <th scope="col">{{ 'ui.actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for job in jobs %}
                                {% include 'front/user/employer/_job_row.html.twig' with {job: job} only %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{ knp_pagination_render(jobs) }}
            </div>
        </div>

    </div>
{% endblock %}

