{%- block live_collection_widget -%}
    <table class="table table-borderless form-no-mb table-sm table-striped table-responsive">
        <thead>
        <tr>
            {% for child in form|last %}
                <td>{{ form_label(child) }}</td>
            {% endfor %}
            <td></td>
        </tr>
        </thead>
        <tbody>
        {{ block('form_widget') }}
        </tbody>
    </table>
    {%- if skip_add_button|default(false) is same as(false) and button_add is defined and not button_add.rendered -%}
        {{ form_widget(button_add, { label: 'ui.buttons.add_skill', attr: { class: 'btn gray fs-sm ft-medium apply-btn rounded' } }) }}
    {%- endif -%}
{%- endblock -%}

{%- block live_collection_entry_row -%}
    <tr>
        {% for child in form %}
            <td>{{- form_row(child, { label: false }) -}}</td>
        {% endfor %}
        <td>
            {{- form_row(button_delete, { label: 'X', attr: { class: 'btn btn-sm btn-outline-danger ft-medium rounded' } }) -}}
        </td>
    </tr>
{%- endblock -%}