{% extends 'front/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<section class="middle">
        <div class="container">
            <div class="row align-items-start justify-content-between">

                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-8 mx-auto">

                    {{ form_start(resetForm, {attr: {class: 'border p-3 rounded'}}) }}

                        <h2>{{ 'ui.reset_your_password'|trans }}</h2>

                        {{ form_row(resetForm.plainPassword) }}

                        <div class="form-group">
                            <button type="submit" class="btn btn-md full-width theme-bg text-light fs-md ft-medium">
                                {{ 'ui.buttons.send_password_reset_email'|trans }}
                            </button>
                        </div>
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </div>
    </section>

 

    
{% endblock %}
