<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ leogout_seo() }}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/bootstrap.min.css"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('front-app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('front-app') }}
        {% endblock %}
    </head>
    <body>
   {# <div class="preloader"></div> #}

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <main id="main-wrapper">
        {% include 'front/includes/top_header.html.twig' %}
        {% block breadcrumbs %}
            {{ apy_breadcrumb_trail_render() }}
        {% endblock %}
        {% block alerts %}
            {% include 'front/includes/_flash.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}
        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>

        {% block footer %}
            {{ component('newsletter') }}
            {{ component('footer') }}
        {% endblock %}
    </main>

    {% block extra %}{% endblock extra %}
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    </body>
</html>
