
<div {{ attributes }}>
<section class="bg-light">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="bg-white rounded box-static">

                    <div class="sidebar_header d-flex align-items-center justify-content-between px-4 py-3 br-bottom">
                        <h4 class="ft-medium fs-lg mb-0">{{ 'ui.search_filter'|trans }}</h4>
                        <div class="ssh-header">
                            {# <a href="javascript:void(0);" class="clear_all ft-medium text-muted">Clear All</a> #}
                            <a href="#search_open" data-toggle="collapse" aria-expanded="false" role="button" class="collapsed _filter-ico ml-2"><i class="lni lni-text-align-right"></i></a>
                        </div>
                    </div>

                    <!-- Find New Property -->
                    <div class="sidebar-widgets collapse miz_show" id="search_open" data-parent="#search_open">

                        <div class="search-inner">

                            <div class="filter-search-box px-4 pt-3 pb-0">
                                <div class="form-group">
                                    <input type="search" name="query" id="query" data-model="debounce(1000)|jobSearchData.query" value="{{ jobSearchData.query }}" class="form-control" placeholder="Search by keywords...">
                                </div>
                                <div class="form-group">
                                    <select name="country" id="country" multiple data-model="debounce(1000)|jobSearchData.country" class="form-control" placeholder="Cameroun, USA, Mali, ..." {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {url: path('app_front_countries_autocomplete')}) }}></select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="location" id="location" data-model="debounce(1000)|jobSearchData.location" value="{{ jobSearchData.location }}" class="form-control" placeholder="Location, Zip..">
                                </div>
                            </div>

                            <div class="filter_wraps">

                                <!-- Job categories Search -->
                                <div class="single_search_boxed px-4 pt-0 br-bottom">
                                    <div class="widget-boxed-header">
                                        <h4>
                                            <a href="#categories" class="ft-medium fs-md pb-0 collapsed" data-toggle="collapse" role="button">{{ 'ui.job_categories'|trans }}</a>
                                        </h4>

                                    </div>
                                    <div class="widget-boxed-body collapse" id="categories" data-parent="#categories">
                                        <div class="side-list no-border">
                                            <!-- Single Filter Card -->
                                            <div class="single_filter_card">
                                                <div class="card-body p-0">
                                                    <div class="inner_widget_link">
                                                        <ul class="no-ul-list filter-list">
                                                        {% for c in computed.categories %}
                                                            <li>
                                                                <input id="{{ c.id }}" class="checkbox-custom" name="categories" type="checkbox" data-model="debounce(1000)|jobSearchData.categories" value="{{ c.id }}">
                                                                <label for="{{ c.id }}" class="checkbox-custom-label">{{ c.name }} ({{ c.jobsCount }})</label>
                                                            </li>
                                                        {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Job Skills Search -->
                                <div class="single_search_boxed px-4 pt-0 br-bottom">
                                    <div class="widget-boxed-header">
                                        <h4>
                                            <a href="#skills" data-toggle="collapse" aria-expanded="false" role="button" class="ft-medium fs-md pb-0 collapsed">{{ 'ui.skills'|trans }}</a>
                                        </h4>

                                    </div>
                                    <div class="widget-boxed-body collapse" id="skills" data-parent="#skills">
                                        <div class="side-list no-border">
                                            <!-- Single Filter Card -->
                                            <div class="single_filter_card">
                                                <div class="card-body p-0">
                                                    <div class="inner_widget_link">
                                                        <ul class="no-ul-list filter-list">
                                                            <li>
                                                                <input id="c1" class="checkbox-custom" name="ADA" type="checkbox" checked="">
                                                                <label for="c1" class="checkbox-custom-label">Administrative (15)</label>
                                                            </li>
                                                            <li>
                                                                <input id="c11" class="checkbox-custom" name="Private" type="checkbox">
                                                                <label for="c11" class="checkbox-custom-label">Joomla (50)</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Job types Search -->
                                <div class="single_search_boxed px-4 pt-0 br-bottom">
                                    <div class="widget-boxed-header">
                                        <h4>
                                            <a href="#jbtypes" data-toggle="collapse" aria-expanded="false" role="button" class="ft-medium fs-md pb-0 collapsed">{{ 'ui.job_types'|trans }}</a>
                                        </h4>

                                    </div>
                                    <div class="widget-boxed-body collapse" id="jbtypes" data-parent="#jbtypes">
                                        <div class="side-list no-border">
                                            <!-- Single Filter Card -->
                                            <div class="single_filter_card">
                                                <div class="card-body p-0">
                                                    <div class="inner_widget_link">
                                                        <ul class="no-ul-list filter-list">
                                                            {% for t in computed.types %}
                                                            <li>
                                                                <input id="{{ t.id }}" class="checkbox-custom" name="categories" type="checkbox" data-model="debounce(1000)|jobSearchData.types" value="{{ t.id }}">
                                                                <label for="{{ t.id }}" class="checkbox-custom-label">{{ t.name }}</label>
                                                            </li>
                                                        {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Expected Salary Search -->
                            </div>

                            {# <div class="form-group filter_button pt-2 pb-4 px-4">
                                <button type="submit" class="btn btn-md theme-bg text-light rounded full-width">{{ computed.jobs|length }} Results Show</button>
                            </div> #}
                        </div>
                    </div>
                </div>
                <!-- Sidebar End -->

            </div>

            <!-- Item Wrap Start -->
            <div class="col-lg-8 col-md-12 col-sm-12" data-loading="addClass(opacity-50)">

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="row align-items-center justify-content-between mx-0 bg-white rounded py-2 mb-4">
                            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
                                <h6 class="mb-0 ft-medium fs-sm">{{ computed.jobs.paginationData['totalCount'] }} {{ 'ui.jobs_found'|trans }}</h6>
                            </div>

                            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">
                                <div class="filter_wraps elspo_wrap d-flex align-items-center justify-content-end">
                                    <div class="single_fitres mr-2 br-right">
                                        <select class="custom-select" name="sort" data-model="debounce(1000)|jobSearchData.sort">
                                            <option value="title">
                                                {{ 'ui.job_title'|trans }}
                                            </option>
                                            <option value="createdAt">{{ 'ui.created_at'|trans }}</option>
                                            <option value="deadline">{{ 'ui.deadline'|trans }}</option>
                                        </select>
                                    </div>
                                    <div class="single_fitres mr-2 br-right">
                                        <select class="custom-select" name="sort" data-model="debounce(1000)|jobSearchData.direction">
                                            <option value="ASC">{{ 'ui.asc'|trans }}</option>
                                            <option value="DESC">{{ 'ui.desc'|trans }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- All jobs -->
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        {% for job in computed.jobs %}
                            {# {{ component('search_job_card', {job: job}) }} #}
                            {{ component('job_card_horizontal', {job: job, 'data-live-id': 'comp' ~ job.id}) }}
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        {% if computed.jobs.paginationData.pageCount > 1 %}
                            <nav>
                                {% set classAlign = (align is not defined) ? '' : align=='center' ? ' justify-content-center' : (align=='right' ? ' justify-content-end' : '') %}
                                {% set classSize = (size is not defined) ? '' : size=='large' ? ' pagination-lg' : (size=='small' ? ' pagination-sm' : '') %}
                                <ul class="pagination{{ classAlign }}{{ classSize }}">

                                    {% if computed.jobs.paginationData.previous is defined %}
                                        <li class="page-item">
                                            {# <a class="page-link" data-action="live#action" data-action-name="prevent|prev" rel="prev" href="{{ path(computed.jobs.route, computed.jobs.query|merge({(computed.jobs.paginatorOption('pageParameterName')): computed.jobs.paginationData.previous})) }}">&laquo;&nbsp;{{ 'label_previous'|trans({}, 'KnpPaginatorBundle') }}</a> #}
                                            <a class="page-link" data-action="live#action" data-action-name="prevent|prev" rel="prev" href="{{ path('app_front_job_search', computed.jobs.query|merge({(computed.jobs.paginatorOption('pageParameterName')): computed.jobs.paginationData.previous})) }}">&laquo;&nbsp;{{ 'label_previous'|trans({}, 'KnpPaginatorBundle') }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">&laquo;&nbsp;{{ 'label_previous'|trans({}, 'KnpPaginatorBundle') }}</span>
                                        </li>
                                    {% endif %}


                                    {% if computed.jobs.paginationData.next is defined %}
                                        <li class="page-item">
                                            {# <a class="page-link" data-action="live#action" data-action-name="prevent|next" rel="next" href="{{ path(computed.jobs.route, computed.jobs.query|merge({(computed.jobs.paginatorOption('pageParameterName')): computed.jobs.paginationData.next})) }}">{{ 'label_next'|trans({}, 'KnpPaginatorBundle') }}&nbsp;&raquo;</a> #}
                                            <a class="page-link" data-action="live#action" data-action-name="prevent|next" rel="next" href="{{ path('app_front_job_search', computed.jobs.query|merge({(computed.jobs.paginatorOption('pageParameterName')): computed.jobs.paginationData.next})) }}">{{ 'label_next'|trans({}, 'KnpPaginatorBundle') }}&nbsp;&raquo;</a>
                                        </li>
                                    {% else %}
                                        <li  class="page-item disabled">
                                            <span class="page-link">{{ 'label_next'|trans({}, 'KnpPaginatorBundle') }}&nbsp;&raquo;</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
</div>
