<!-- Single -->
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <div class="job_grid border rounded ">
        <div class="position-absolute ab-left">
            {% if app.user %}
                {# <turbo-frame id="job-bookmark-{{ job.id }}"> #}
                    <div {{ react_component('BookmarkButton', {job: job.id, bookmarked: job.isBookmarkedByUser(app.user), route: path('app_front_job_bookmark', {id: job.id}), user: app.user.id }) }}></div>
                    {# <bookmark-button route="{{ path('app_front_job_bookmark', {id: job.id}) }}" job-id="{{ job.id }}" bookmarked="{{ job.isBookmarkedByUser(app.user) }}" bookmarks="{{ job.jobBookmarks|length }}"></bookmark-button> #}
                    {# <a href="{{ path('app_front_job_bookmark', {id: job.id}) }}" class="p-3 border circle d-flex align-items-center justify-content-center bg-white {{ job.isBookmarkedByUser(app.user) ? 'text-danger' : 'text-gray' }}"><i class="lni lni-heart-filled position-absolute snackbar-wishlist"></i></a> #}
                    {# <div class="btn-bookmark"></div> #}
                {# </turbo-frame> #}
            {% else %}
                <a href="#" class="p-3 border circle d-flex align-items-center justify-content-center bg-white text-gray"><i class="lni lni-lock position-absolute snackbar-wishlist"></i></a>
            {% endif %}
            {# <span>
                {{ job.jobBookmarks|length }}
            </span> #}
        </div>
        <div class="position-absolute ab-right"><span class="medium theme-cl theme-bg-light px-2 py-1 rounded">{{ job.type.name }}</span></div>
        <div class="job_grid_thumb mb-2 pt-5 px-3">
            <a href="job-detail.html" class="d-block text-center m-auto"><img src="https://via.placeholder.com/120x120" class="img-fluid" width="70" alt="" /></a>
        </div>
        <div class="job_grid_caption text-center pb-3 px-3">
            <h4 class="mb-0 ft-medium medium"><a href="{{ path('app_front_job_show', {slug: job.slug, id: job.id}) }}" class="text-dark fs-md">{{ job.title }}</a></h4>
            <div class="jbl_location"><i class="lni lni-map-marker mr-1"></i><span>{{ job.location }}</span></div>
        </div>
        <div class="job_grid_footer pb-4 px-3">
            <ul class="p-0 skills_tag text-center">
                <li><span class="px-2 py-1 medium skill-bg rounded text-dark">Joomla</span></li>
                <li><span class="px-2 py-1 medium skill-bg rounded text-dark">WordPress</span></li>
                <li><span class="px-2 py-1 medium skill-bg rounded text-dark">Javascript</span></li>
                <li><span class="px-2 py-1 medium skill-bg rounded text-dark">PHP</span></li>
                <li><span class="px-2 py-1 medium skill-bg rounded text-dark">HTML5</span></li>
                <li><span class="px-2 py-1 medium theme-bg rounded text-light">+3 More</span></li>
            </ul>
        </div>
    </div>
</div>