<section class="middle">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative text-center mb-5">
                    <h6 class="text-muted mb-0">{{ 'ui.trending_jobs'|trans }}</h6>
                    <h2 class="ft-bold">{{ 'ui.all_popular_listed_jobs'|trans }}</h2>
                </div>
            </div>
        </div>

        <!-- row -->
        <div class="row align-items-center">

            {% for job in this.jobs %}
                {{ component('job_card', {job: job}) }}
            {% endfor %}

        </div>
        <!-- row -->

        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="position-relative text-center">
                    <a href="{{ path('app_front_job_search') }}" class="btn btn-md theme-bg rounded text-white hover-theme">{{ 'ui.buttons.explore_more_jobs'|trans }}<i class="lni lni-arrow-right-circle ml-2"></i></a>
                </div>
            </div>
        </div>

    </div>
</section>