<tr>
    <td>
        <div class="cats-box rounded bg-white d-flex align-items-center">
            <div class="text-center"><img src="https://via.placeholder.com/120x120" class="img-fluid" width="55" alt=""></div>
            <div class="cats-box-caption px-2">
                <h4 class="fs-md mb-0 ft-medium">{{ bookmark.job.title }}({{ bookmark.job.experience }} Year Exp.)</h4>
                <div class="d-block mb-2 position-relative">
                    <span class="text-muted medium"><i class="lni lni-map-marker mr-1"></i>{{ bookmark.job.country }}, {{ bookmark.job.city }}</span>
                    <span class="muted medium ml-2 theme-cl"><i class="lni lni-briefcase mr-1"></i>{{ bookmark.job.type.name }}</span>
                </div>
            </div>
        </div>
    </td>
    <td><span class="text-info">Active</span></td>
    <td>10 Sep 2021</td>
    <td>
        <div class="dash-action">
            <a href="javascript:void(0);" class="p-2 circle text-info bg-light-info d-inline-flex align-items-center justify-content-center mr-1"><i class="lni lni-eye"></i></a>
            <action-button
                data-csrf-token="{{ csrf_token('delete' ~ bookmark.id) }}"
                data-uri="{{ path('app_front_candidate_job_bookmarks_delete', {id: bookmark.id}) }}"
                data-method="DELETE"
                class="p-2 circle text-danger bg-light-danger d-inline-flex align-items-center justify-content-center ml-1"
            >
                <i class="lni lni-trash-can"></i>
            </action-button>
            {# <a href="javascript:void(0);" class="p-2 circle text-danger bg-light-danger d-inline-flex align-items-center justify-content-center ml-1"><i class="lni lni-trash-can"></i></a> #}
        </div>
    </td>
</tr>
