{% extends 'front/base.html.twig' %}

{% block body %}
    <!-- ======================= dashboard Detail ======================== -->

    <div class="dashboard-wrap bg-light">
        <a class="mobNavigation" data-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
            <i class="fas fa-bars mr-2"></i>Dashboard Navigation
        </a>
        <div class="collapse" id="MobNav">
            <div class="dashboard-nav">
                <div class="dashboard-inner">
                    <ul data-submenu-title="Main Navigation">
                        <li class="active"><a href="candidate-dashboard.html"><i class="lni lni-dashboard mr-2"></i>Dashboard</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('app_front_candidate_manage_resume') }}"><i class="lni lni-files mr-2"></i>{{ 'ui.manage_resume'|trans }}</a></li>
                        {% endif %}
                        <li><a href="dashboard-add-resume.html"><i class="lni lni-add-files mr-2"></i>Create Resume</a></li>
                        <li><a href="{{ path('app_front_candidate_applications') }}"><i class="lni lni-briefcase mr-2"></i>{{ 'ui.applied_jobs'|trans }}</a></li>
                        <li><a href="dashboard-alert-job.html"><i class="ti-bell mr-2"></i>Alert Jobs<span class="count-tag bg-warning">4</span></a></li>
                        <li><a href="dashboard-saved-jobs.html"><i class="lni lni-bookmark mr-2"></i>Bookmark Jobs</a></li>
                        <li><a href="dashboard-packages.html"><i class="lni lni-mastercard mr-2"></i>Packages</a></li>
                        <li><a href="dashboard-messages.html"><i class="lni lni-envelope mr-2"></i>Messages<span class="count-tag">4</span></a></li>
                    </ul>
                    <ul data-submenu-title="My Accounts">
                        <li><a href="{{ path('app_front_candidate_profile') }}"><i class="lni lni-user mr-2"></i>My Profile </a></li>
                        <li><a href="dashboard-change-password.html"><i class="lni lni-lock-alt mr-2"></i>Change Password</a></li>
                        <li><a href="javascript:void(0);"><i class="lni lni-trash-can mr-2"></i>Delete Account</a></li>
                        <li><a href="{{ logout_path() }}"><i class="lni lni-power-switch mr-2"></i>{{ 'ui.buttons.logout'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="dashboard-content">

            <div class="dashboard-tlbar d-block mb-5">
                <div class="row">
                    <div class="colxl-12 col-lg-12 col-md-12">
                        <h1 class="ft-medium">My Profile</h1>
                        {% block breadcrumbs %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            {% include 'front/includes/_flash.html.twig' %}
            {% block alerts %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            <!-- footer -->
            <div class="row">
                <div class="col-md-12">
                    <div class="py-3">© 2022 Workplex. Designd By ThemezHub.</div>
                </div>
            </div>

        </div>

    </div>
    <!-- ======================= dashboard Detail End ======================== -->
{% endblock %}

{% block footer %}{% endblock %}